h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16;
    font-weight: 800;
    color: #ff01ba;
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: aliceblue;
}

.efecto{
    background: #474bff;
    background: -webkit-linear-gradient(32deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(32deg, #474bff 0%, #bc48ff 100%);
}

.glassformishm{
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0.25);
}

.efecto2{
    clip-path: polygon(33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%, 33% 33%);
}